.destaques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, calc(100% / 3));
    grid-gap: 0.4rem;
    height: calc(100vh - 5rem);
}

.destaques__principal {
    background: url(../img/fortnite.jpg) center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 3;

}

.destaques__secundario:nth-child(2) {
    background: no-repeat center / cover url(../img/pubg.jpg);
    grid-column: 4/4;
    grid-row: 1/1;
 
}

.destaques__secundario:nth-child(3) {
    background: no-repeat center / cover url(../img/slack.png);
    grid-column: 4/4;
    grid-row: 2/2;
}

.destaques__secundario:nth-child(4) {
    background: no-repeat center / cover url(../img/whatsapp.png);
    grid-column: 4/4;
    grid-row: 3/3;
}

.destaques__secundario:nth-child(5) {
    background: no-repeat center / cover url(../img/cs-go.jpg);
    grid-column: 3/3;
    grid-row: 3/3;
}

.caixa {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.destaques__titulo {
    color: #fdfdfd;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 1.4rem;
    text-align: center;
    width: 100%;
}
    
    

.destaques__categorias {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    
}

.destaques__categorias___lista { 
    
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    
}

.destaques__categorias___item {
    align-items: center;
    border: solid 2px rgb(196, 196, 196);
    display: flex;
    margin-left: 0.4rem;
    padding: 1.6rem;
    width: calc(50% - 0.4rem);
}

.destaques__categorias___link {
    color: rgb(90, 90, 90);
}

.destaques__categorias___icone {
    margin-right: 1.4rem;
}