:root {
    font-size: 62.5%; /* se 100% é = a 16, quanto é a porcentagem para 10: "(10 * 100) / 16"  1rem é = 10px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem; /* é igual a 16px */
}
.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape"
    ;
    grid-template-columns: auto;
    grid-template-rows: 5rem calc(100vh - 5rem) 1.6rem;
}

.cabecalho {
    background: tomato;
    grid-area: cabecalho; /* Identifica as areas do layout. */ 
}
 
.conteudo {
    background: violet;
    grid-area: conteudo;

}

.rodape {
    background: goldenrod;
    grid-area: rodape;
}